@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {}

.title {
  composes: responsiveTitle1 from './typography.module.css';
  margin: 4rem 0 4rem;
}

.mainImage {
  position: relative;
  background: #eee;
  padding-bottom: calc(9 / 16 * 100%);
  border: 1px solid #000;

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
  }
}

.grid {
  display: grid;
  max-width: 780px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;

  @media (--media-min-medium) {
    grid-template-columns: 3fr;
  }
}

.mainContent {
  @nest & a {
    color: var(--color-accent);

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }
  }
}

.metaContent {
  display: flex;
  margin: 0rem 0 0;
  padding: 2rem 0 0;
}

.publishedAt {
  composes: mono from './typography.module.css';
}

.categories {
  composes: mono from './typography.module.css';

  @nest & ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  @nest & ul li {
    padding: 0.25rem 0;
  }
}

.metaContainer {
  margin-left: 3rem;
}

.label {
  composes: mono from './typography.module.css';
  color: var(--color-gray);
  text-transform: uppercase;
  margin-right: 4px;
  margin: 0 0 .5rem;
}

.software {
  composes: mono from './typography.module.css';
}

.softwareItems {
  display: flex;
}

.softwareLabel {
  color: var(--color-gray);
  margin-right: 4px;
  margin: 0 0 .5rem;
  text-transform: uppercase;
}

.softwareItem {
  composes: comma from './typography.module.css';
  margin-right: 4px;

  &:last-of-type {
    &:after {
      content: '';
    }
  }
}

.body {
  margin: 4rem 0 1rem;
  padding: 0;
}

.body h4 {
  font-family: var(--font-family-mono);
  font-size: var(--font-small-size);
  line-height: var(--font-base-line-height);
  margin-top: 60px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--color-gray);
}


.projectMembers {
  display: flex;
  margin: 2rem 0 1rem;
  padding: .2rem 0 2rem;
  border-bottom: 1px solid #000;
}

.categoriesHeadline {
  composes: base from './typography.module.css';
  margin: 0.5rem 0 0;
}

.relatedProjects {
  border-top: 1px solid var(--color-very-light-gray);
  margin: 2rem auto 3rem;
  padding: 2rem auto 3rem;
  max-width: 1080px;

  @nest & ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  @nest & a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 0.25rem 0;
  }
}

.relatedProjectsHeadline {
  composes: base from './typography.module.css';
  margin: 2.5rem 0 0;
}
